@{
    ViewBag.Title = "IniciarBusqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    <font size="5">Registrar Nueva Búsqueda</font>
    <a href="/Busqueda" class="btn btn-info">Volver</a>
</h2>

<h2></h2>
<h2></h2>
<h2></h2>




<div class="Registrar Búsqueda">
    <div class="form-group">
        <div class="col-lg-6">
            <label for="PerfilBúsqueda">Perfil de Búsqueda</label>
            <textarea class="form-control" rows="24" id="PerfilBúsqueda" placeholder="Descripción del perfil que necesitas, una serie de aptitudes, conocimientos técnicos,requisitos preferentes y algún comentario particular"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6">
            <label class="control-label">Publicado en</label>
            <div class="input-group">
                <input type="text" size="10" class="form-control" placeholder="ej: www.educaciónIT.com">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">Agregar</button>
                </span>
            </div>
            <textarea class="form-control" rows="20" id="PerfilBúsqueda" placeholder="Sitios"></textarea>
            <button class="btn btn-success" type="submit">Registrar Búsqueda</button>
        </div>
    </div>
</div>







@*class="col-xs-8" <---------- Establecer el tamaño*@