@model Reclutamiento_GEO.Models.Busqueda
@{
    ViewBag.Title = "RegistrarBusqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
@using (Html.BeginForm())
    {
        <div class="Registrar Búsqueda">
            <div class="rowTitle">
                <div class="col-lg-10 col-lg-offset-1">
                    <font size="5" color="white">Registrar Nueva Búsqueda</font>
                    <a class=" btn btn-info col-lg-offset-1" href="/Busqueda">Volver</a>
                </div>
            </div>
            <div class="rowDatos">

                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-1">
                        <fieldset>
                            <legend>Perfil de Búsqueda</legend>                     
                            @Html.TextAreaFor(x => x.Descripcion, new {@class="form-control",rows="24",name="Descripcion",id="txt-Descripcion",placeholder="Descripción del perfil que necesitas, una serie de aptitudes, conocimientos técnicos,requisitos preferentes y algún comentario particular"})
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3 col-lg-offset-1">
                    <fieldset>
                        <legend>Publicado en</legend>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="ej: www.educaciónIT.com" id="txt-Agregarsitio">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" value="AgregarFuente" id="btnAgregar">Agregar</button>
                            </span>
                        </div>
                        @Html.TextAreaFor(x => x.Fuentes,new{@class="form-control",rows="22",name="Fuentes",id="txt-Fuentes",placeholder="Fuentes"})
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-1"></div>
        </div>

        <div class="rowRegistrar">
            <div class="col-lg-1 col-lg-offset-9">
                <button name="Registrar" id="btnRegistrar" class="btn btn-success" type="submit" style='width:102px; height:40px'>Registrar</button> 
            </div>                                                                                                                         
            <div class="col-lg-2"></div>
        </div>
    }

@section scripts{
    <script src="~/Scripts/jquery-1.9.1.js"></script>
 
    <script> //Pasar texto en input Agregar a input Fuentes
        $(function () {
            $("#btnAgregar").click(function () {
                var fuente = $('#txt-Agregarsitio').val() //Agarrar texto de input agregarsitio y setearle el valor a la variable fuente
                var carreo = "\n";                                         
                var fuentec = fuente + carreo
                var fuentetotal = fuentec 
                $('#txt-Fuentes').val(fuentetotal) //Setearle el valor del textarea fuentes https://es.stackoverflow.com/questions/45247/c%C3%B3mo-puedo-acumular-un-valor-en-una-variable-con-jquery
                $('#txt-Agregarsitio').val("")
            });
    });
    </script>

    <script> //Dividir las diferentes fuentes en cadenas 
        $(function () {
            $("#btnRegistrar").click(function () {
                var URL = "@Url.Action("GuardarBusqueda", "Busqueda")";
                var Fuentes = document.getElementById('txt-Fuentes').value
                var Descripcion = document.getElementById('txt-Descripcion').value

                $.post(Fuentes, Descripcion)
            });
        });
    </script>
}
</body>
    
    
    
    

    
